# Expo
.expo

# macOS
.DS_Store
._*

# Node
node_modules
npm-debug.log
yarn-error.log

# Yarn
.yarn

# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets
